<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nevada Phlebotomy</title>
  </head>
  <body>
    <header>
      <div class="menu_nav">
        <nav class="menu">
          <ul>
            <li>
              <p class="message">
                Not registered? <a href="register">Create an account</a>
              </p>
            </li>
            <li><a href="eliaWeb.html">HOME</a></li>
            <li><a href="patient.html">PATIENTS</a></li>
            <li><a href="about-us.html">ABOUT US</a></li>
            <li><a >COMPANY</a></li>
            <li><a >COVID-19 Testing</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main-div">
      <div>
        <a href="eliaWeb.html"
          ><img
            class="blood-image"
            src="./images/drawing_blood.png"
            alt="drawing blood"
        /></a>
      </div>
      <div class="phone-button">
        <h2><P>Call (775) 208 8734</P></h2>
      </div>

      <div class="movil-blood-p">
        <h1>Movil Blood Work in Nevada</h1>
        <br />
        <strong
          >We come to you, draw your blood, and take it to the lab!</strong
        >
      </div>
      <div class="about-us">
        <div><h2>Welcome to Unique Lab Services</h2></div>
        <br />
        <div>
          <p>
            Welcome to Unique Lab Services Unique Lab Services is a
            fast-growing, successful company that has set out to provide mobile
            phlebotomy services primarily to individuals who are homebound, have
            no transportation, or simply would like to have their blood draws or
            specimen collection done in the privacy of their own home or
            business. We provide services throughout Arizona. We collect and
            transport all types of specimens that a doctor or healthcare
            provider may request and use for diagnosis and treatment. Whether
            you need a blood sample taken or a stool specimen tested, we can
            give you the help you need from the comfort and convenience of your
            home or office. If you have special needs: difficult veins, needle
            phobia, anxiety, repeat testing (standing orders), we can help make
            getting lab tests done more comfortable, convenient, and
            worry-free.<br /><br />

            We currently offer blood draw services in the following locations:
            <br /><br />

            • Elko • Reno • Las Vegas • Ely • Spring Creek • Carson City •
            Sparks • Henderson • Fernley • Nye • Alamo • Acoma • Lincoln •
            Amargosa Valley • Paradise • Sunrise manor • Carlin • Caliente •
            Eureka • Beatty • Battle Mountain • Denio • Bolder • Austin •
            Gardnerville • Fallon • Mesquite • Rio Verde • Pahrump • Rhyolite •
            Winnemucca • Beowawe
          </p>
        </div>
      </div>

      <!-- page will scroll to top, when you click it -->
    </main>
    <div class="scrollup"><a href="#top">To Top</a></div>
    <footer class="footer">
      <div class="copyright">© 2023 Phlebotomy Association Inc</div>
      <div class="email">
        <a href="mailto: phlebotomy1234@live.com">Contact us by email</a>
      </div>
      <div class="call">Call us at: (775) 208 8734</div>
      <div class="adress">1374 Silver St<br />Elko, Nv,89823</div>
      <div class="business-hours">
        Mon - Saturday 9:00am - 5:00pm Sun: Closed
      </div>
    </footer>
    <!-- <script src="eliasWeb.js"></script> -->
  </body>
</html>
